body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #333;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #c94463;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image img {
  width: 300px;
  border-radius: 10px;
}

.skills-grid,
.project-card,
.experience-card {
  background-color: #333;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #c94463;
  color: #1a1a1a;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #c0c0c0;
}

.project-card a {
  color: #c94463;
  text-decoration: none;
}
.experience-card a {
  color: #c94463;
  text-decoration: none;
}

@keyframes rotateSkill {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #444;
  margin: 0.5rem;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.skill i {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #c94463;
  animation: rotateSkill 4s linear infinite;
}
