body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #333;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #d2e4ea;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image img {
  width: 300px;
  border-radius: 10px;
}

.skills-grid,
.project-card,
.experience-card {
  background-color: #333;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #d0e1e9;
  color: #1a1a1a;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #dac4d5;
}

.project-card a {
  color: bisque;
  text-decoration: none;
}
